tr  {
    margin: 0;
    padding: 10px 0;
}

td  {
    margin: 0;
    border-top: 1px solid black;
    outline: 0;
    padding: 10px 0;
}

td:first-child {
  font-weight: bold;
}
td:not(:first-child) {
  text-align: right;
}

td > button  {
    margin-left: 1rem
}

